body {
    margin: 15px 15px 15px 15px;
    background: #f2f2f2;
}

.layuimini-container {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #ffffff
}

.layuimini-main {
    margin: 10px 10px 10px 10px;
}

/**必填红点 */
.layuimini-form > .layui-form-item > .required:after {
    content: '*';
    color: red;
    position: absolute;
    margin-left: 4px;
    font-weight: bold;
    line-height: 1.8em;
    top: 6px;
    right: 5px;
}

.layuimini-form > .layui-form-item > .layui-form-label {
    width: 120px !important;
}

.layuimini-form > .layui-form-item > .layui-input-block {
    margin-left: 150px !important;
}

.layuimini-form > .layui-form-item > .layui-input-block > tip {
    display: inline-block;
    margin-top: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #a29c9c;
}

/**搜索框*/
.layuimini-container .table-search-fieldset {
    margin: 0;
    border: 1px solid #e6e6e6;
    padding: 10px 20px 5px 20px;
    color: #6b6b6b;
}

/**自定义滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #9c9da0;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}

/*自定义样式*/
/*数据表格样式*/
fieldset legend {
    text-align: center;
    font-size: 25px;
}
fieldset {
    margin-bottom: 20px!important;
}
fieldset > div {
    text-align: center;
    margin-top: 15px;
}
/*弹窗样式*/
.collection-box-div {
    padding: 20px;
}
.collection-text {
    font-size: 15px;
    padding-bottom: 20px;
    text-align: center;
}
/*文章标签*/
.label-tag {
    margin: 0 5px;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 5px;
    transition: all 0.8s;
}
.label-tag:hover {
    transform: scale(1.1);
}

/*各个不同颜色标签*/
.label-color-0 a {
    /*text-decoration: none;*/
    color: white;!important;
    background-color: #999;!important;
}

.tag-color-1, .tag-color-1 a {
    color: white;!important;
    background: firebrick;!important;
}

.tag-color-2, .tag-color-2 a{
    color: white;!important;
    background: skyblue;!important;
}
.tag-color-3, .tag-color-3 a {
    color: white;!important;
    background: saddlebrown;!important;
}

.tag-color-4, .tag-color-4 a{
    color: white;!important;
    background: green;!important;
}
.tag-color-5, .tag-color-5 a {
    color: white;!important;
    background: burlywood;!important;
}

.tag-color-6, .tag-color-6 a {
    color: white;!important;
    background: violet;!important;
}
.tag-color-7, .tag-color-7 a {
    color: white;!important;
    background: #e83e8c;!important;
}

.tag-color-8, .tag-color-8 a {
    color: white;!important;
    background: red;!important;
}
.tag-color-9, .tag-color-9 a {
    color: white;!important;
    background: blueviolet;!important;
}
.tag-color-10, .tag-color-10 a {
    color: white;!important;
    background: skyblue;!important;
}
/*表格居中*/
.layui-table-body {
    text-align: center!important;
}
.layui-table-header th {
    text-align: center!important;
}