{% extends 'base-account.html' %}

{% block title %}修改密码{% endblock %}

{% block content %}
    <div class="manage-body page-main">
        <div class="cintent-card">
            <form class="layui-form" action="">
                <div class="layui-card-body" pad15="">
                    {% for change_password in change_password_form %}
                    <div class="layui-form-item">
                        <label class="layui-form-label">{{ change_password.label_tag }}</label>
                        <div class="layui-input-inline">
                            {{ change_password }}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="setmypass">确认修改</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        // 导航栏当前标签页
        $('#nav1-3').addClass("layui-this")
        $('#nav1-3').parents("li").addClass("layui-nav-itemed")
    </script>
    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;
            //自定义验证规则
            form.verify({
                pass: [
                    /^[\S]{6,12}$/
                    , '密码必须6到12位，且不能出现空格'
                ]
                , content: function (value) {
                    layedit.sync(editIndex);
                }
            });
            //监听提交
            form.on('submit(demo1)', function (data) {
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                })
                return false;
            });
        });
    </script>
{% endblock %}