{% load static %}
<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <title>重置密码</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'css/forgetPassword.css' %}">
    <script src="{% static 'jquery-3.5.1/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/csrf.js' %}" charset="utf-8"></script>
</head>
<body>
<div class="main">
    <!-- multistep form -->
    <form id="msform" action="{% url 'account:loginRegister' %}" method="post">
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active">身份验证</li>
            <li>设置新密码</li>
            <li>重置完成</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
            <h2 class="fs-title">身份验证</h2>
            <div class="form-group" id="email">
                {{ forget_form.email }}
                <i class="input-icon layui-icon layui-icon-email"></i>
                <p class="point"></p>
                <button type="button" class="layui-btn layui-btn-primary auth-btn" id="send_btn">获取验证码</button>
            </div>
            <div class="form-group mt-2 verification">
                {{ forget_form.email_code }}
                <p class="point"></p>
                <i class="input-icon layui-icon layui-icon-vercode"></i>
            </div>
            <input type="button" name="next" class="next action-button" id="email_check" value="下一步"/>
        </fieldset>
        <fieldset>
            <h2 class="fs-title">设置新密码</h2>
            <div class="form-group mt-2" id="password1">
                {{ forget_form.password1 }}
                <p class="point"></p>
                <i class="input-icon layui-icon layui-icon-password"></i>
            </div>
            <div class="form-group mt-2" id="password2">
                {{ forget_form.password2 }}
                <p class="point"></p>
                <i class="input-icon layui-icon layui-icon-password"></i>
            </div>
            <input type="button" name="previous" class="previous action-button" id="password_check_last" value="上一步"/>
            <input type="button" name="next" class="next action-button" id="password_check_next" value="下一步"/>
        </fieldset>
        <fieldset>
            <h2 class="fs-title">重置完成</h2>
            <p class="fs-content">-^0^- 密码重置成功，请重新登录!</p>
            <a href="{% url 'account:loginRegister' %}">
                <input type="submit" name="submit" class="submit action-button" value="登录"/>
            </a>
        </fieldset>
    </form>
</div>

<script>
    layui.use(['layer', 'form'], function () {
        var $ = layui.jquery,
            layer = layui.layer;
        var load
        // 当页面中有ajax请求发送时
        $(document).on('ajaxStart', function () {
            load = layer.load();
        })
        // 当页面中ajax请求完成时
        $(document).on('ajaxComplete', function () {
            layer.close(load);
        })
        $(document).ready(function () {
            //jQuery time
            var current_fs, next_fs, previous_fs; //fieldsets
            var left, opacity, scale; //fieldset properties which we will animate
            var animating; //flag to prevent quick multi-click glitches
            // 切换显示下一页
            function show_next(current_fs, next_fs) {
                if (animating) return false;
                animating = true;
                //修改进度步骤栏样式
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //显示下一页内容
                next_fs.show();
                //隐藏上一页内容
                current_fs.animate({opacity: 0}, {
                    step: function (now, mx) {
                        //as the opacity of current_fs reduces to 0 - stored in "now"
                        //1. scale current_fs down to 80%
                        scale = 1 - (1 - now) * 0.2;
                        //2. bring next_fs from the right(50%)
                        left = (now * 50) + "%";
                        //3. increase opacity of next_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({
                            'transform': 'scale(' + scale + ')',
                            'position': 'absolute',
                            'width': '100%'
                        });
                        next_fs.css({'left': left, 'opacity': opacity});
                    },
                    duration: 800,
                    complete: function () {
                        current_fs.hide();
                        animating = false;
                    },
                    //this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
            }

            // 切换显示上一页
            function show_last(current_fs, previous_fs) {
                if (animating) return false;
                animating = true;
                //de-activate current step on progressbar
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
                //show the previous fieldset
                previous_fs.show();
                //hide the current fieldset with style
                current_fs.animate({opacity: 0}, {
                    step: function (now, mx) {
                        //as the opacity of current_fs reduces to 0 - stored in "now"
                        //1. scale previous_fs from 80% to 100%
                        scale = 0.8 + (1 - now) * 0.2;
                        //2. take current_fs to the right(50%) - from 0%
                        left = ((1 - now) * 50) + "%";
                        //3. increase opacity of previous_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({'left': left});
                        previous_fs.css({'transform': 'scale(' + scale + ')', 'opacity': opacity});
                    },
                    duration: 800,
                    complete: function () {
                        current_fs.hide();
                        animating = false;
                    },
                    //this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
            }

            // 判断邮箱格式是否正确
            var email_timer = null;
            $("#email input").bind('input propertychange', function () {
                var email = $("input[ name='email']").val()
                clearTimeout(email_timer)
                var enoughRegex = new RegExp("[\\w!#$%&'*+/=?^_`{|}~-]+(?:\\.[\\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\\w](?:[\\w-]*[\\w])?\\.)+[\\w](?:[\\w-]*[\\w])?", "g");
                if (enoughRegex.test(email) == false) {
                    $(this).siblings("p").text("请输入正确的邮箱号");
                    $(this).css("border", "solid 1px red");
                } else {
                    $(this).siblings("p").text("");
                    $(this).css("border", "none");
                    email_timer = setTimeout(function () {
                        $.ajax({
                            type: "GET",
                            url: "{% url 'account:registerCheck' %}",
                            data: {email: email},
                            success: function (result) {
                                if (result.code == 1) {
                                    $("#email input").siblings("p").text("此邮箱未绑定账号！");
                                    $("#email input").css("border", "solid 1px red");
                                } else if (result.code == 0) {
                                    $("#email input").siblings("p").text("");
                                    $("#email input").css("border", "none")
                                }
                            },
                            error: function (xhr) {
                                alert(xhr.text());
                            }
                        })
                    }, 1000)
                }
            })
            // 获取验证码按钮
            $("#send_btn").click(function () {
                var email = $("input[ name='email']").val()
                if (email.length == 0) {
                    layer.msg("请输入邮箱号", {icon: 2})
                    return false;
                }
                if ($(".point").text().length != 0) {
                    layer.msg("请输入正确的邮箱号", {icon: 2})
                    return false;
                }
                if ($("#send_btn").hasClass("layui-btn-disabled")) {
                    layer.msg("验证码已发送，请稍后再试", {icon: 2})
                    return false;
                }
                $.ajax({
                    type: "GET",
                    url: "{% url 'account:forgetGetCode' %}",
                    data: {email: email},
                    success: function (result) {
                        if (result.code == 1) {
                            layer.msg(result.msg, {icon: 1});
                            $("#send_btn").addClass("layui-btn-disabled");     //控制按钮为禁用
                            var second = 60;
                            var intervalObj = setInterval(function () {
                                $("#send_btn").text("重新获取" + "(" + second + ")");
                                if (second == 0) {
                                    $("#send_btn").text("获取验证码");
                                    $("#send_btn").removeClass("layui-btn-disabled");//将按钮可用
                                    /* 清除已设置的setInterval对象 */
                                    clearInterval(intervalObj);
                                }
                                second--;
                            }, 1000);
                        } else if (result.code == 0) {
                            layer.alert(result.msg, {icon: 2});
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.text());
                    }
                })
            })
            // 点击邮箱验证下一步按钮
            $("#email_check").click(function () {
                current_fs = $("#email_check").parent();
                next_fs = $("#email_check").parent().next();
                show_next(current_fs, next_fs)
                /*
                var email = $("input[ name='email']").val()
                var email_code = $("input[ name='email_code']").val()
                if (email_code.length == 0) {
                    layer.msg("请输入验证码", {icon: 2});
                    return false;
                }
                if (($(".point").eq(0).text().length) != 0) {
                    layer.msg("请检查邮箱号", {icon: 2});
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "


                {% url 'account:forgetCheckCode' %}",
                    data: {
                        email: email,
                        email_code: email_code
                    },
                    success: function (result) {
                        alert(result.code)
                        if (result.code == 3) {
                            layer.alert(result.msg, {icon: 2});
                        } else if (result.code == 2) {
                            layer.alert(result.msg, {icon: 2});
                        } else {
                            current_fs = $("#email_check").parent();
                            next_fs = $("#email_check").parent().next();
                            show_next(current_fs, next_fs)
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.text());
                    }
                })
                */
            })
            // 点击密码验证上一步按钮
            $("#password_check_last").click(function () {
                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();
                show_last(current_fs, previous_fs)
            })
            // 密码1验证
            $("input[ name='password1']").bind('input propertychange', function () {
                var password1 = $(this).val();
                var enoughRegex = new RegExp("^(?![a-zA-z]+$)(?!\\d+$)(?![!@#$%^&*]+$)[a-zA-Z\\d!@#$%^&*]{6,20}$", "g");
                if (enoughRegex.test(password1) == false) {
                    $(this).siblings("p").text("密码为6到20位字母加数字组合");
                    $(this).css("border", "solid 1px red");
                } else {
                    $(this).siblings("p").text("");
                    $(this).css("border", "none");
                }
            })
            // 密码2验证
            $("#password2 input").bind('input propertychange', function () {
                var password2 = $("#password2 input").val();
                var enoughRegex = new RegExp("^(?![a-zA-z]+$)(?!\\d+$)(?![!@#$%^&*]+$)[a-zA-Z\\d!@#$%^&*]{6,20}$", "g");
                if (enoughRegex.test(password2) == false) {
                    $(this).siblings("p").text("密码为6到20位字母加数字组合");
                    $(this).css("border", "solid 1px red");
                } else {
                    if (password1 === password2) {
                        $(this).siblings("p").text("");
                        $(this).css("border", "none");
                        $(this).siblings("p").text("");
                        $(this).css("border", "none");
                    } else {
                        $(this).siblings("p").text("密码不一致");
                    }
                }
            })
            // 点击密码验证下一步按钮
            $("#password_check_next").click(function () {
                var password1 = $("input[ name='password1']").val();
                var password2 = $("input[ name='password2']").val();
                if (($(".point").eq(2).text().length) + ($(".point").eq(3).text().length) != 0) {
                    layer.msg("请检查密码格式", {icon: 2})
                }
                current_fs = $("#password_check_next").parent();
                next_fs = $("#password_check_next").parent().next();
                {#show_next(current_fs, next_fs)#}
            })
            // 重置完成登录按钮
            $(".submit").click(function () {
                window.location.href = "{% url 'account:loginRegister' %}"
            })
        })
    });
</script>
</body>
</html>