{% extends 'base-account.html' %}

{% block title %}留言记录{% endblock %}

{% block content %}
    <div class="manage-body page-main">
        <div class="cintent-card">
            <div class="layui-form">
                <table class="layui-table">
                    <colgroup>
                        <col width="10%">
                        <col width="30%">
                        <col width="20%">
                        <col width="20%">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>留言内容</th>
                        <th>留言时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in scoreList %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>第{{ i }}次留言说：说的真对啊</td>
                            <td>2020年9月2日22:45:27</td>
                            <td>
                                <a class="layui-btn layui-btn-normal layui-btn-xs">
                                    <i class="layui-icon layui-icon-edit"></i>修改</a>
                                <a class="layui-btn layui-btn-danger layui-btn-xs">
                                    <i class="layui-icon layui-icon-delete"></i>删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        // 导航栏当前标签页
        $('#nav2-5').addClass("layui-this")
        $('#nav2-5').parents("li").addClass("layui-nav-itemed")
    </script>
{% endblock %}