{% extends 'base-blog.html' %}
 
{% block title %}友情链接{% endblock %}
 
{% block content %}
<main class="page-main">
    <div class="layui-row">
        <div class="layui-col-md-offset2 layui-col-sm12 layui-col-md8 page-main-centre">
            <div class="recommended">
                <h2>🔥 热门推荐</h2>
                    <div class="layui-row">
                        <div class="layui-col-xs6 layui-col-md3">
                            <div class="recommended-card suspend clearfix">
                                <div>
                                    <img src="../media/photo/photo.jpg" class="layui-nav-img">
                                </div>
                                <div>
                                    <a href="#">django中文网</a>
                                    <p>这是django的中文网站哦</p>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-md3">
                            <div class="recommended-card suspend clearfix">
                                <div>
                                    <img src="../media/photo/photo.jpg" class="layui-nav-img">
                                </div>
                                <div>
                                    <a href="#">django中文网</a>
                                    <p>这是django的中文网站哦,是的。你没有看错。真的是中文网站哦</p>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-md3">
                            <div class="recommended-card suspend clearfix">
                                <div>
                                    <img src="../media/photo/photo.jpg" class="layui-nav-img">
                                </div>
                                <div>
                                    <a href="#">django中文网</a>
                                    <p>这是django的中文网站哦</p>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-md3">
                            <div class="recommended-card suspend clearfix">
                                <div>
                                    <img src="../media/photo/photo.jpg" class="layui-nav-img">
                                </div>
                                <div>
                                    <a href="#">django中文网</a>
                                    <p>这是django的中文网站哦</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md-offset2 layui-col-sm12 layui-col-md8 page-main-centre">
            <div class="recommended">
                <h2>⚓ 友情链接</h2>
                <div class="layui-row">
                    <div class="layui-col-xs6 layui-col-md3">
                        <div class="recommended-card suspend clearfix">
                            <div>
                                <img src="../media/photo/photo.jpg" class="layui-nav-img">
                            </div>
                            <div>
                                <a href="#">django中文网</a>
                                <p>这是django的中文网站哦</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-md3">
                        <div class="recommended-card suspend clearfix">
                            <div>
                                <img src="../media/photo/photo.jpg" class="layui-nav-img">
                            </div>
                            <div>
                                <a href="#">django中文网</a>
                                <p>这是django的中文网站哦,是的。你没有看错。真的是中文网站哦</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-md3">
                        <div class="recommended-card suspend clearfix">
                            <div>
                                <img src="../media/photo/photo.jpg" class="layui-nav-img">
                            </div>
                            <div>
                                <a href="#">django中文网</a>
                                <p>这是django的中文网站哦</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-md3">
                        <div class="recommended-card suspend clearfix">
                            <div>
                                <img src="../media/photo/photo.jpg" class="layui-nav-img">
                            </div>
                            <div>
                                <a href="#">django中文网</a>
                                <p>这是django的中文网站哦</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-md3">
                        <div class="recommended-card suspend clearfix">
                            <div>
                                <img src="../media/photo/photo.jpg" class="layui-nav-img">
                            </div>
                            <div>
                                <a href="#">django中文网</a>
                                <p>这是django的中文网站哦</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-md3">
                        <div class="recommended-card suspend clearfix">
                            <div>
                                <img src="../media/photo/photo.jpg" class="layui-nav-img">
                            </div>
                            <div>
                                <a href="#">django中文网</a>
                                <p>这是django的中文网站哦,是的。你没有看错。真的是中文网站哦</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-md3">
                        <div class="recommended-card suspend clearfix">
                            <div>
                                <img src="../media/photo/photo.jpg" class="layui-nav-img">
                            </div>
                            <div>
                                <a href="#">django中文网</a>
                                <p>这是django的中文网站哦</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-md3">
                        <div class="recommended-card suspend clearfix">
                            <div>
                                <img src="../media/photo/photo.jpg" class="layui-nav-img">
                            </div>
                            <div>
                                <a href="#">django中文网</a>
                                <p>这是django的中文网站哦</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-md3">
                        <div class="recommended-card suspend clearfix">
                            <div>
                                <img src="../media/photo/photo.jpg" class="layui-nav-img">
                            </div>
                            <div>
                                <a href="#">django中文网</a>
                                <p>这是django的中文网站哦</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-md3">
                        <div class="recommended-card suspend clearfix">
                            <div>
                                <img src="../media/photo/photo.jpg" class="layui-nav-img">
                            </div>
                            <div>
                                <a href="#">django中文网</a>
                                <p>这是django的中文网站哦,是的。你没有看错。真的是中文网站哦</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-md3">
                        <div class="recommended-card suspend clearfix">
                            <div>
                                <img src="../media/photo/photo.jpg" class="layui-nav-img">
                            </div>
                            <div>
                                <a href="#">django中文网</a>
                                <p>这是django的中文网站哦</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-md3">
                        <div class="recommended-card suspend clearfix">
                            <div>
                                <img src="../media/photo/photo.jpg" class="layui-nav-img">
                            </div>
                            <div>
                                <a href="#">django中文网</a>
                                <p>这是django的中文网站哦</p>
                            </div>
                        </div>
                    </div>
                </div>
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block js %}
{#<script>#}
{#    // 导航栏当前标签页#}
{#    $(function () {#}
{#        $(".layui-nav li:eq(0)").addClass("layui-this");#}
{#        $("#LAY-system-side-menu li:eq(0)").addClass("layui-this");#}
{#    })#}
{#</script>#}
{% endblock %}