{% extends 'base-blog.html' %}

{% block title %}文章列表{% endblock %}

{% block content %}
    <!--中间主体部分-->
    <main class="page-main  clearfix">
        <div class="layui-row">
            <!--        &lt;!&ndash;    页面左侧留空&ndash;&gt;-->
            <!--        <div class="layui-hide-xs layui-col-sm1 layui-col-md2 left-null">-->
        </div>
        <!--    页面主体部分-->
        <div class="layui-col-md-offset2 layui-col-sm12 layui-col-md8 page-main-centre">
            <div class="layui-row main-centre">
                <!--            主体左侧部分-->
                <div class="layui-col-md9 main-left">
                    <!--                    位置信息-->
                    <blockquote class="layui-elem-quote location suspend">
                        <p>您的位置： <a href="/">首页</a>
                            <i class="layui-icon layui-icon-next"></i>
                            <span>文章分类</span>
                            <i class="layui-icon layui-icon-next"></i>
                            <span>{{ category_name }}</span>
                        </p>
                    </blockquote>
                    <!--            文章列表-->
                    <div class="index-new">
                        <h4 id="list-title">
                            <strong>
                                <span>📜 文章列表</span>
                            </strong>
                        </h4>
                        {% for article in articles_list %}
                            <div class="layui-row layui-col-space20 article-box">
                                <div class="layui-col-xs12 layui-col-md4">
                                    <div class="img-cover img-zoom">
                                        <a href="/blog/show-{{ article.id }}" title="{{ article.title }}">
                                            <img lay-src="media/{{ article.img }}" width="100%">
                                        </a>
                                    </div>
                                </div>
                                <div class="layui-col-xs12 layui-col-md8">
                                    <h3>
                                        <a href="/blog/show-{{ article.id }}">{{ article.title }}</a>
                                    </h3>
                                    <p class="txt-cont hidden-xs">
                                        <a href="/blog/show-{{ article.id }}">{{ article.excerpt }}</a>
                                    </p>
                                    <div class="list-article-info">
                                        <a href="/blog/category-{{ article.category_id }}"
                                           class="label-tag tag-color-{{ article.category.id }}">{{ article.category }}</a>
                                        <span>
                                                <i class="fas fa-clock">
                                                    <span class="timeago"
                                                          datetime="{{ article.created_time | date:"Y-m-d H:i" }}"></span>
                                                </i>
                                            </span>
                                        <span>
                                                <i class="fas fa-eye">{{ article.view }}</i>
                                            </span>
                                        <span>
                                                <i class="fas fa-thumbs-up">{{ article.like }}</i>
                                            </span>
                                        <span>
                                                <i class="fas fa-heart">{{ article.collection }}</i>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div id="paging"></div>
                    </div>
                </div>
                {% include 'blog/aside.html' %}
                <!--            主体右侧部分-->
            </div>
        </div>
        </div>
    </main>
{% endblock %}

{% block js %}
    <script>

        layui.use(['laypage', 'layer','flow'], function () {
            var laypage = layui.laypage
                , layer = layui.layer
                , flow = layui.flow;

            // 分页
            laypage.render({
                elem: 'paging'
                , count: {{ count }}
                , limit: 5
                , limits: [5, 10, 15, 20]
                , layout: ['prev', 'page', 'next', 'limit', 'limits',]
                , jump: function (obj, first) {
                    if (first) {
                        // 获取第一页内容
                        $.ajax({
                            type: "GET",
                            url: "{% url 'blog:categoryPage' %}",
                            data: {
                                category_id: {{ category_id }},
                                limit: obj.limit,
                                page: 1
                            },
                            success: function (result) {
                                if (result.code == 1) {
                                    $(".article-box").remove();
                                    createEle(result);
                                } else {
                                    layer.alert(result.msg, {icon: 2});
                                }
                            },
                            error: function (xhr) {
                                alert(xhr.text());
                            }
                        })
                    } else {
                        //换页执行
                        $.ajax({
                            type: "GET",
                            url: "{% url 'blog:categoryPage' %}",
                            data: {
                                category_id: {{ category_id }},
                                limit: obj.limit,
                                page: obj.curr
                            },
                            success: function (result) {
                                if (result.code == 1) {
                                    $(".article-box").remove();
                                    createEle(result);
                                } else {
                                    layer.alert(result.msg, {icon: 2});
                                }
                            },
                            error: function (xhr) {
                                alert(xhr.text());
                            }
                        })
                    }
                }
            });
        });

        // 根据ajax返回分页结果创建内容
        function createEle(result) {
            layui.each(result.data, function (index, item) {
                var $article = $("<div class=\"layui-row layui-col-space20 article-box\">\n" +
                    "    <div class=\"layui-col-xs12 layui-col-md4\">\n" +
                    "        <div class=\"img-cover img-zoom\">\n" +
                    "            <a href=\"/blog/show-" + item.id + "\" title=\"django测试页1\">\n" +
                    "                <img width=\"100%\" lay-src=\"media/" + item.img + "\">\n" +
                    "            </a>\n" +
                    "        </div>\n" +
                    "    </div>\n" +
                    "    <div class=\"layui-col-xs12 layui-col-md8\">\n" +
                    "        <h3>\n" +
                    "            <a href=\"/blog/show-" + item.id + "\">" + item.title + "</a>\n" +
                    "        </h3>\n" +
                    "        <p class=\"txt-cont hidden-xs\">\n" +
                    "            <a href=\"/blog/show-" + item.id + "\">" + item.excerpt + "</a>\n" +
                    "        </p>\n" +
                    "        <div class=\"list-article-info\">\n" +
                    "            <a href=\"/blog/category-" + item.category_id + "\" class=\"label-tag tag-color-" + item.category_id + "\">" + item.category + "</a>\n" +
                    "            <span>\n" +
                    "                    <i class=\"fas fa-clock\">\n" +
                    "                       <span class=\"timeago\" datetime=\"" + item.created_time + "\"'></span>" +
                    "                    </i>\n" +
                    "                </span>\n" +
                    "            <span>\n" +
                    "                    <i class=\"fas fa-eye\">" + item.view + "</i>\n" +
                    "                </span>\n" +
                    "            <span>\n" +
                    "                    <i class=\"fas fa-thumbs-up\">" + item.like + "</i>\n" +
                    "                </span>\n" +
                    "            <span>\n" +
                    "                    <i class=\"fas fa-heart\">" + item.collection + "</i>\n" +
                    "                </span>\n" +
                    "        </div>\n" +
                    "    </div>\n" +
                    "</div>")
                $("#list-title").after($article);
                // 时间显示几天前
                var timeago = layui.timeago;
                timeago.render($('.timeago'));
                // 图片懒加载
                var flow = layui.flow;
                flow.lazyimg();
            });
        }

        // 导航栏当前标签页
        $(".nav2").addClass("layui-this");
        var category_id = "#category-" + {{ category_name.id}}
            $(category_id).addClass("layui-this")
        var m_category_id = "#m-category-" + {{ category_name.id}}
            $(m_category_id).addClass("layui-this")
        $(m_category_id).parents("li").addClass("layui-nav-itemed")
    </script>
{% endblock %}