{% extends 'base-blog.html' %}

{% block title %}文章正文{% endblock %}

{% block content %}
    <main class="page-main">
        <div class="layui-row">
            <!--    页面左侧留空-->
            <div class="layui-hide-xs layui-col-md2 left-null">
            </div>
            <!--    页面主体部分-->
            <div class="layui-col-xs12 layui-col-md10 page-main-centre">
                <div class="layui-row main-centre">
                    <div class="layui-hide" id="content">
                        <div class="content-div">
                            <ul>
                                <li>第一章：三字经</li>
                                <li>第二章：百家姓</li>
                                <li>第三章：唐诗三百首</li>
                                <li>第四章：钢铁是怎样炼成的这真是一个难题</li>
                                <li>第一章：三字经</li>
                                <li>第二章：百家姓</li>
                                <li>第三章：唐诗三百首</li>
                                <li>第四章：钢铁是怎样炼成的</li>
                                <li>第一章：三字经</li>
                                <li>第二章：百家姓</li>
                                <li>第三章：唐诗三百首</li>
                                <li>第四章：钢铁是怎样炼成的</li>
                                <li>第一章：三字经</li>
                                <li>第二章：百家姓</li>
                                <li>第三章：唐诗三百首</li>
                            </ul>
                        </div>
                    </div>
                    <!--            主体中间正文部分-->
                    <div class="layui-col-md7 main-left">
                        <!--                    位置信息-->
                        <blockquote class="layui-elem-quote location suspend">
                            <p>您的位置： <a href="/">首页</a>
                                <i class="layui-icon layui-icon-next"></i>
                                <a href="/blog/category-{{ article.category.id }}">{{ article.category }}</a>
                                <i class="layui-icon layui-icon-next"></i>
                                <span>正文</span></p>
                        </blockquote>
                        <!--            文章内容-->
                        <div class="index-new">
                            <h1 class="article-title">{{ article.title }}</h1>
                            <div class="article-info">
                            <span>
                                <i class="fas fa-clock">{{ article.created_time }}</i>
                            </span>
                                <span>
                                <i class="fas fa-eye">{{ article.view }}</i>
                            </span>
                                <span>
                                <i class="fas fa-thumbs-up">{{ article.like }}</i>
                            </span>
                                <span>
                                <i class="fas fa-heart">{{ article.collection }}</i>
                            </span>
                            </div>
                            <div class="article-content">
                                <p>{{ article.body }}</p>
                            </div>
                            <div class="article-action">
                                <p>码字不易，转载请注明本文链接，您的打赏是对我最大的支持!</p>
                                <div id="article-action">
                                    <a class="article-like" href="javascript:">
                                        <i class="layui-icon layui-icon-praise" id="like-text">点赞</i>
                                    </a>
                                    <a class="article-reward" href="javascript:">打赏
                                        <div id="reward-box" class="reward-box-show">
                                            <h5>❤️您可以选择一种方式赞助本站</h5>
                                            <img lay-src="../../static/images/pay.png">
                                        </div>
                                    </a>
                                    <a class="article-collection" href="javascript:">
                                        <i class="layui-icon layui-icon-heart" id="collection-text">收藏</i>
                                        <div id="collection-box" class="layui-hide">
                                            <div class="collection-box-div">
                                            您尚未登录，请先登录然后收藏文章
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="article-relevance">
                                {% if last_article %}
                                    <a href="/blog/show-{{ last_article.pk }}" class="article-last">
                                        <i class="layui-icon layui-icon-left"></i>上一篇
                                        <br>
                                        {{ last_article }}
                                    </a>
                                {% else %}
                                    <a class="article-last">
                                        <i class="layui-icon layui-icon-left"></i>上一篇
                                        <br>
                                        没有了
                                    </a>
                                {% endif %}
                                <div>
                                    <p>文章分类：<span class="label-tag label-color-0"><a
                                            href="/blog/category-{{ article.category.id }}">{{ article.category.name }}</a></span>
                                    </p>
                                    <p>文章标签：
                                        {% for tag in article.tags.all %}
                                            <span class="label-tag tag-color-{{ tag.id }}"><a
                                                    href="/blog/tag-{{ tag.id }}">{{ tag.name }}</a></span>
                                        {% endfor %}
                                    </p>
                                </div>
                                {% if next_article %}
                                    <a href="/blog/show-{{ next_article.pk }}" class="article-next">
                                        下一篇<i class="layui-icon layui-icon-right"></i>
                                        <br>
                                        {{ next_article }}
                                    </a>
                                {% else %}
                                    <a class="article-next">
                                        下一篇<i class="layui-icon layui-icon-right"></i>
                                        <br>
                                        没有了
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="index-new">
                            <div class="index-new message-board">
                                <div class="message-editor">
                                    <div class="message-title clearfix">
                                        <div><h1>发表评论</h1></div>
                                        <div><em>80条评论</em></div>
                                    </div>
                                    <hr class="layui-bg-gray">
                                    <div class="layui-row message-body">
                                        <div class="layui-hide-xs layui-col-md1">
                                            <a href="#">
                                                <img lay-src="../media/photo/photo.jpg" class="layui-nav-img">
                                            </a>
                                        </div>
                                        <div class="layui-col-xs12 layui-col-md10">
                                            <textarea id="comment"></textarea>
                                        </div>
                                        <div class="layui-col-xs2 layui-col-md1">
                                            <button type="button" class="layui-btn layui-btn-normal">评论</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-tab">
                                    <ul class="layui-tab-title">
                                        <li class="layui-this">最新评论</li>
                                        <li>热门评论</li>
                                        <li>我的评论</li>
                                    </ul>
                                    <div class="layui-tab-content">
                                        {#                                         最新评论#}
                                        <div class="layui-tab-item layui-show">
                                            <ol class="list-body">
                                                <li class="message-content">
                                                    <a href="#">
                                                        <img lay-src="../media/photo/nologin.png" class="layui-nav-img">
                                                    </a>
                                                    <div class="text-box">
                                                        <div class="box-info">
                                                            <a href="#">张三</a>
                                                            <span class="timeago" datetime="2020-06-30 09:20:00"></span>
                                                        </div>
                                                        <div class="box-body">
                                                            <p>好好学习天天向上，好好学习天天向上</p>
                                                        </div>
                                                        <div class="box-action">
                                                            <a href="#"><i class="fas fa-thumbs-up"></i>赞<em>10</em></a>
                                                            <a href="#"><i class="fas fa-comment-alt"></i>回复</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>
                                            <ol class="list-body">
                                                <li class="message-content">
                                                    <a href="#">
                                                        <img lay-src="../media/photo/nologin.png" class="layui-nav-img">
                                                    </a>
                                                    <div class="text-box">
                                                        <div class="box-info">
                                                            <a href="#">尼古拉斯凯奇</a>
                                                            <span class="timeago" datetime="2020-06-30 09:20:00"></span>
                                                        </div>
                                                        <div class="box-body">
                                                            <p>滚管厂家爱上大法官哈十多个</p>
                                                        </div>
                                                        <div class="box-action">
                                                            <a href="#"><i class="fas fa-thumbs-up"></i>赞<em>10</em></a>
                                                            <a href="#"><i class="fas fa-comment-alt"></i>回复</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>
                                            <ol class="list-body">
                                                <li class="message-content">
                                                    <a href="#">
                                                        <img lay-src="../media/photo/nologin.png" class="layui-nav-img">
                                                    </a>
                                                    <div class="text-box">
                                                        <div class="box-info">
                                                            <a href="#">李四</a>
                                                            <span class="timeago" datetime="2020-06-30 09:20:00"></span>
                                                        </div>
                                                        <div class="box-body">
                                                            <p>
                                                                好好学习天天向上，好好学习天天向上,好好学习天天向上，好好学习天天向上,好好学习天天向上，好好学习天天向上,好好学习天天向上，好好学习天天向上,好好学习天天向上，好好学习天天向上,好好学习天天向上，好好学习天天向上</p>
                                                        </div>
                                                        <div class="box-action">
                                                            <a href="#"><i class="fas fa-thumbs-up"></i>赞<em>10</em></a>
                                                            <a href="#"><i class="fas fa-comment-alt"></i>回复</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <div class="reply-1 message-content">
                                                    <a href="#">
                                                        <img lay-src="../media/photo/nologin.png" class="layui-nav-img">
                                                    </a>
                                                    <div class="text-box">
                                                        <div class="box-info">
                                                            <a href="#">王五</a>
                                                            <em>回复</em>
                                                            <a href="#">赵四</a>
                                                            <span class="timeago" datetime="2020-06-30 09:20:00"></span>
                                                        </div>
                                                        <div class="box-body">
                                                            <p>你说的对</p>
                                                        </div>
                                                        <div class="box-action">
                                                            <a href="#"><i class="fas fa-thumbs-up"></i>赞<em>10</em></a>
                                                            <a href="#"><i class="fas fa-comment-alt"></i>回复</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="reply-2 message-content">
                                                    <a href="#">
                                                        <img lay-src="../media/photo/nologin.png" class="layui-nav-img">
                                                    </a>
                                                    <div class="text-box">
                                                        <div class="box-info">
                                                            <a href="#">我的名字随便起</a>
                                                            <em>回复</em>
                                                            <a href="#">王五</a>
                                                            <span class="timeago" datetime="2020-06-30 09:20:00"></span>
                                                        </div>
                                                        <div class="box-body">
                                                            <p>我也觉得你说的对</p>
                                                        </div>
                                                        <div class="box-action">
                                                            <a href="#"><i class="fas fa-thumbs-up"></i>赞<em>10</em></a>
                                                            <a href="#"><i class="fas fa-comment-alt"></i>回复</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ol>
                                        </div>
                                        {#                                        热门评论#}
                                        <div class="layui-tab-item">
                                            <ol class="list-body">
                                                <li class="message-content">
                                                    <a href="#">
                                                        <img lay-src="../media/photo/nologin.png" class="layui-nav-img">
                                                    </a>
                                                    <div class="text-box">
                                                        <div class="box-info">
                                                            <a href="#">尼古拉斯凯奇</a>
                                                            <span class="timeago" datetime="2020-06-30 09:20:00"></span>
                                                        </div>
                                                        <div class="box-body">
                                                            <p>滚管厂家爱上大法官哈十多个</p>
                                                        </div>
                                                        <div class="box-action">
                                                            <a href="#"><i class="fas fa-thumbs-up"></i>赞<em>10</em></a>
                                                            <a href="#"><i class="fas fa-comment-alt"></i>回复</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>
                                        {#                                        我的评论#}
                                        <div class="layui-tab-item">
                                            <h3>🥺您还没有发布评论，快来评论吧！</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--            主体右侧部分-->
                    {% include 'blog/aside.html' %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block js %}
    <script>
        // 富文本编辑器
        layui.use('layedit', function () {
            var layedit = layui.layedit;
            layedit.set({
                uploadImage: {  //上传图片的设置
                    url: '' //接口url
                    , type: 'post' //默认post

                }
            });
            layedit.build('comment', {
                height: 100 //设置编辑器高度
            });
        });
        // 点赞打赏
        $(function () {
            // 点赞
            $("#article-action>a").eq(0).click(function () {
                $(this).animate({
                    width: '45%'
                }, 500, function () {
                    $(this).css({'background': '#3498db', 'pointer-events': 'none'});
                    $(this).find("i").text("已点赞")
                    layer.msg('感谢点赞！', {icon: 6});
                })
            })
            // 打赏
            $("#article-action>a").eq(1).hover(function () {
                $("#reward-box").stop().stop().slideToggle(500)
            })
        })
        layui.use('element', function () {
            var $ = layui.jquery
                , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
        });
        layui.use(['layer', 'rate'], function () {
            var $ = layui.jquery;
            var layer = layui.layer;
            var rate = layui.rate;

            $('#article-action .article-collection').click(function () {
                layer.open({
                    type: 1,
                    title: '添加收藏',
                    shadeClose: true,
                    content: $('#collection-box').html(),
                    btn: ['登录'],
                    btnAlign: 'c',
                    yes: function (index, layero) {
                        window.location.href = "{% url 'account:loginRegister' %}"
                        layer.close(index);
                        $(".article-collection").css({'width': '45%', 'background': '#3498db', 'pointer-events': 'none'})
                        $(".article-collection").find('i').text("已收藏")
                        layer.msg('感谢评分！', {icon: 6});
                    }
                })
            })
        });
        // 目录
        $(document).ready(function () {
            w = $(window).width(); //浏览器当前窗口可视区域宽度
            if (w > 768) {
                openContent()
            }

            function openContent() {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.ready(function () {
                        setTimeout(function () {
                            layer.open({
                                type: 1
                                , title: ['📋目录', 'font-size:26px;color:#1e9fff']
                                , area: '230px'
                                , maxWidth: '500'
                                , shade: 0
                                , anim: 5
                                , offset: ['80px', '15px']
                                , content: $('#content').html()
                                , success: function (layero) {
                                    layer.setTop(layero); //重点2
                                }
                            });
                        }, 1000)
                    });
                });
            }
        });
    </script>
{% endblock %}