{% extends 'base-blog.html' %}
 
{% block title %}时间轴{% endblock %}
 
{% block content %}
<main class="page-main">
    <div class="layui-row">
        <!--    页面主体部分-->
        <div class="layui-col-md-offset2 layui-col-sm12 layui-col-md8 page-main-centre">
            <div class="layui-row layui-col-space30 main-centre">
                <!--            主体左侧部分-->
                <div class="layui-col-md9 main-left">
                    <!--            文章列表-->
                    <div class="index-new time-shaft">
                        <div class="layui-collapse" lay-filter="test">
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">2020年7月</h2>
                                <div class="layui-colla-content layui-show">
                                    <div>
                                        <ul class="layui-timeline">
                                            <li class="layui-timeline-item">
                                                <i class="layui-icon layui-timeline-axis"></i>
                                                <div class="layui-timeline-content layui-text">
                                                    <h3 class="layui-timeline-title">7月31日</h3>
                                                    <a href="#">《钢铁是怎样炼成的》</a><br>
                                                    <a href="#">《茅屋为秋风所破歌》</a><br>
                                                </div>
                                            </li>
                                            <li class="layui-timeline-item">
                                                <i class="layui-icon layui-timeline-axis"></i>
                                                <div class="layui-timeline-content layui-text">
                                                    <h3 class="layui-timeline-title">7月16日</h3>
                                                    <a href="#">《钢铁是怎样炼成的》</a><br>
                                                    <a href="#">《茅屋为秋风所破歌》</a><br>
                                                </div>
                                            </li>
                                            <li class="layui-timeline-item">
                                                <i class="layui-icon layui-timeline-axis"></i>
                                                <div class="layui-timeline-content layui-text">
                                                    <h3 class="layui-timeline-title">7月15日</h3>
                                                    <a href="#">《钢铁是怎样炼成的》</a><br>
                                                    <a href="#">《茅屋为秋风所破歌》</a><br>
                                                </div>
                                            </li>
                                            <li class="layui-timeline-item">
                                                <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
                                                <div class="layui-timeline-content layui-text">
                                                    <div class="layui-timeline-title">long long ago</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">2020年6月</h2>
                                <div class="layui-colla-content">
                                    <p>因为不适合。如果希望开发长期的项目或者制作产品类网站，那么就需要实现特定的设计，为了在维护项目中可以方便地按设计师要求快速修改样式，肯定会逐步编写出各种业务组件、工具类，相当于为项目自行开发一套框架。——来自知乎@Kayo</p>
                                </div>
                            </div>
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">2020年5月</h2>
                                <div class="layui-colla-content">
                                    <p>在前端技术快速变革的今天，layui 仍然坚持语义化的组织模式，甚至于模块理念都是采用类AMD组织形式，并非是有意与时代背道而驰。layui 认为以jQuery为核心的开发方式还没有到完全消亡的时候，而早期市面上基于jQuery的UI都普通做得差强人意，所以需要有一个新的UI去重新为这一领域注入活力，并采用一些更科学的架构方式。
                                        <br><br>
                                        因此准确地说，layui 更多是面向那些追求开发简单的前端工程师们，以及所有层次的服务端程序员。</p>
                                </div>
                            </div>
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">2020年4月</h2>
                                <div class="layui-colla-content">
                                    <p>man！ 所以这个问题不要再出现了。。。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'blog/aside.html' %}
                <!--            主体右侧部分-->
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block js %}
<script>
    // 导航栏当前标签页
    $(".nav4").addClass("layui-this");
</script>
<script>
    // 面板折叠
    layui.use(['element', 'layer'], function(){
        var element = layui.element;
        var layer = layui.layer;

        //监听折叠
        element.on('collapse(test)', function(data){
            {#layer.msg('展开状态：'+ data.show);#}
        });
    });
</script>
{% endblock %}