{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'editormd/css/editormd.css' %}">
    <script src="{% static 'jquery-3.5.1/jquery-3.5.1.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'editormd/lib/marked.min.js' %}"></script>
    <script src="{% static 'editormd/lib/prettify.min.js' %}"></script>
    <script src="{% static 'editormd/lib/raphael.min.js' %}"></script>
    <script src="{% static 'editormd/lib/underscore.min.js' %}"></script>
    <script src="{% static 'editormd/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'editormd/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'editormd/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'editormd/editormd.js' %}"></script>
</head>
<body>
<div id="editormd-view">
    <textarea id="append-test" style="display: none">
      {{ article.body }}
    </textarea>

</div>
<script>
    $(function (){
        editormd.markdownToHTML("editormd-view",{
            htmlDecode:"style,script,iframe",
            emoji:true,
            taskList:true,
            tex:true,
            flowChart:true,
            sequenceDiagram:true,
        })
    })
</script>
</body>
</html>