<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>菜鸟教程(runoob.com)</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <script src="../static/layui/layui.all.js" charset="utf-8"></script>
</head>
<body>
<form id="form0">
    <label>上传图片</label>
    <input type="file" name="img">
    </br>  </br>
    <label>宽高比例</label>
    <input type="text" name="ratio"/>  </br>  </br>
    <button type="button" id="submit">提交</button>
</form>
<script>
    //通过FormData构造函数创建一个空对象
    var formdata = new FormData();
    //可以通过append()方法来追加数据
    formdata.append("name", "laotie");
    formdata.append("sex", "女");
    var data = {
        "id": 123,
        "age": 18
    }
    for (let key in data) {
        formdata.append(key, data[key]);
    }
    for (var key of formdata.keys()) {
        console.log("key:" + key + " value:" + formdata.get(key));
    }
</script>
</body>
</html>