<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
</head>
<body>
<main class="page-main">
        <div class="layui-row">
            <!--    页面主体部分-->
            <div class="layui-col-md-offset2 layui-col-sm12 layui-col-md8 page-main-centre">
                <div class="layui-row main-centre">
                    <!--            主体左侧部分-->
                    <div class="layui-col-md9 main-left">
                        <!--            文章列表-->
                        <div class="index-new time-shaft">
                            <div class="layui-collapse" lay-filter="list">

                                    <div class="layui-colla-item">
                                        <h2 class="layui-colla-title">2020年09月(18篇)<i class="layui-icon layui-colla-icon"></i></h2>
                                        <div class="layui-colla-content">
                                            <div>
                                                <ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-23 14:27</h3>
            <a href="/blog/show-29">markdown</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-23 11:45</h3>
            <a href="/blog/show-28">markdown2</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-21 22:17</h3>
            <a href="/blog/show-12">django测试页1</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-21 22:17</h3>
            <a href="/blog/show-13">django测试页3</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-21 22:17</h3>
            <a href="/blog/show-14">django测试页4</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-21 22:17</h3>
            <a href="/blog/show-15">django测试页5</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-21 22:17</h3>
            <a href="/blog/show-16">django测试页6</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-21 22:17</h3>
            <a href="/blog/show-17">django测试页7</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-21 22:17</h3>
            <a href="/blog/show-18">django测试页8</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-21 22:17</h3>
            <a href="/blog/show-19">django测试页9</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-21 22:17</h3>
            <a href="/blog/show-20">django测试页10</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-21 22:17</h3>
            <a href="/blog/show-21">django测试页11</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-21 22:17</h3>
            <a href="/blog/show-22">django测试页12</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-21 22:17</h3>
            <a href="/blog/show-23">django测试页13</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-21 22:17</h3>
            <a href="/blog/show-24">django测试页14</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-21 22:17</h3>
            <a href="/blog/show-25">django测试页15</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-21 22:17</h3>
            <a href="/blog/show-26">django测试页16</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-09-21 22:17</h3>
            <a href="/blog/show-27">django测试页17</a><br>
        </div>
     </ul><ul class="layui-timeline">
                                                    <li class="layui-timeline-item long-ago">
                                                        <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
                                                        <div class="layui-timeline-content layui-text">
                                                            <div class="layui-timeline-title">long long ago</div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-colla-item">
                                        <h2 class="layui-colla-title">2020年08月(8篇)<i class="layui-icon layui-colla-icon"></i></h2>
                                        <div class="layui-colla-content layui-show">
                                            <div>
                                                <ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-08-20 16:44</h3>
            <a href="/blog/show-11">陈情表</a><br>
            <a href="/blog/show-10">悯农</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-08-20 15:28</h3>
            <a href="/blog/show-10">悯农</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-08-20 15:27</h3>
            <a href="/blog/show-9">秋思</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-08-20 15:26</h3>
            <a href="/blog/show-8">望庐山瀑布</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-08-20 15:20</h3>
            <a href="/blog/show-7">金色花</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-08-20 02:06</h3>
            <a href="/blog/show-5">七子之歌</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-08-20 01:05</h3>
            <a href="/blog/show-4">木兰诗</a><br>
        </div>
     </ul><ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2020-08-18 07:01</h3>
            <a href="/blog/show-3">报菜名</a><br>
        </div>
     </ul><ul class="layui-timeline">
                                                    <li class="layui-timeline-item long-ago">
                                                        <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
                                                        <div class="layui-timeline-content layui-text">
                                                            <div class="layui-timeline-title">long long ago</div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-colla-item">
                                        <h2 class="layui-colla-title">2020年07月(2篇)<i class="layui-icon layui-colla-icon"></i></h2>
                                        <div class="layui-colla-content">
                                            <div>
                                                <ul class="layui-timeline">
                                                    <li class="layui-timeline-item long-ago">
                                                        <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
                                                        <div class="layui-timeline-content layui-text">
                                                            <div class="layui-timeline-title">long long ago</div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-colla-item">
                                        <h2 class="layui-colla-title">2019年08月(1篇)<i class="layui-icon layui-colla-icon"></i></h2>
                                        <div class="layui-colla-content layui-show">
                                            <div>
                                                <ul class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">2019-08-20 03:06</h3>
            <a href="/blog/show-1">三字经</a><br>
        </div>
     </ul><ul class="layui-timeline">
                                                    <li class="layui-timeline-item long-ago">
                                                        <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
                                                        <div class="layui-timeline-content layui-text">
                                                            <div class="layui-timeline-title">long long ago</div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>


<div class="layui-col-md3 main-right">
    <aside class="post-right-item suspend">
        <h4>
            <strong>
                <span>👍 推荐阅读</span>
            </strong>
        </h4>
        <div class="layui-row recommend-list">

                <div class="layui-col-xs12 layui-col-md6 this-recommend">
                    <div>
                        <a href="/blog/show-11" class="img-zoom"><img src="media/cover/2020/08/2018年12月05日_深圳.jpg"></a>
                        <a href="/blog/show-11" title="陈情表"><p>陈情表</p></a>
                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-md6 this-recommend">
                    <div>
                        <a href="/blog/show-9" class="img-zoom"><img src="media/cover/2020/08/2018年08月29日_马赛马拉一年一度的斑纹角马大迁徙肯尼亚__Theo_Allofs_Minden_Pictures.jpg"></a>
                        <a href="/blog/show-9" title="秋思"><p>秋思</p></a>
                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-md6 this-recommend">
                    <div>
                        <a href="/blog/show-8" class="img-zoom"><img src="media/cover/2020/08/2018年08月30日_Heavenly.jpg"></a>
                        <a href="/blog/show-8" title="望庐山瀑布"><p>望庐山瀑布</p></a>
                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-md6 this-recommend">
                    <div>
                        <a href="/blog/show-5" class="img-zoom"><img src="media/cover/2020/08/2018年09月07日_大西洋沿岸森林的巴西松__Ralph_Clevenger_Getty_Images_2.jpg"></a>
                        <a href="/blog/show-5" title="七子之歌"><p>七子之歌</p></a>
                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-md6 this-recommend">
                    <div>
                        <a href="/blog/show-6" class="img-zoom"><img src="media/cover/2020/08/2018年10月12日_Lone_fly.jpg"></a>
                        <a href="/blog/show-6" title="明月几时有"><p>明月几时有</p></a>
                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-md6 this-recommend">
                    <div>
                        <a href="/blog/show-1" class="img-zoom"><img src="media/cover/2020/08/2018年10月20日_瓦莱塔马耳他__Adrian_Malanca_Getty_Images.jpg"></a>
                        <a href="/blog/show-1" title="三字经"><p>三字经</p></a>
                    </div>
                </div>

        </div>
    </aside>
    <!--        热门文章-->
    <aside class="post-right-item suspend">
        <div id="top-list">
            <ul>
                <li>
                    <a href="javascript:;">
                        <span class="list-title">
                            <em>🔥 </em>
                            <em>阅读排行</em>
                            <i class="fas fa-caret-down"></i>

                        </span>
                    </a>
                    <ul class="top-list-son">
                        <li>
                            <a href="javascript:;" class="top-title-this">阅读排行</a>
                        </li>
                        <li>
                            <a href="javascript:;">点赞排行</a>
                        </li>
                        <li>
                            <a href="javascript:;">收藏排行</a>
                        </li>
                        <li>
                            <a href="javascript:;">评论排行</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="top-list-content">
            <ol class="hot-list hot-list-show">


                    <li>
                        <a href="/blog/show-8" title="望庐山瀑布">望庐山瀑布</a>
                    </li>

                    <li>
                        <a href="/blog/show-4" title="木兰诗">木兰诗</a>
                    </li>

                    <li>
                        <a href="/blog/show-11" title="陈情表">陈情表</a>
                    </li>

                    <li>
                        <a href="/blog/show-29" title="markdown">markdown</a>
                    </li>

                    <li>
                        <a href="/blog/show-3" title="报菜名">报菜名</a>
                    </li>

                    <li>
                        <a href="/blog/show-28" title="markdown2">markdown2</a>
                    </li>

                    <li>
                        <a href="/blog/show-9" title="秋思">秋思</a>
                    </li>

                    <li>
                        <a href="/blog/show-2" title="百家姓">百家姓</a>
                    </li>

                    <li>
                        <a href="/blog/show-6" title="明月几时有">明月几时有</a>
                    </li>

            </ol>
            <ol class="hot-list">


                    <li>
                        <a href="/blog/show-8" title="望庐山瀑布">望庐山瀑布</a>
                    </li>

                    <li>
                        <a href="/blog/show-9" title="秋思">秋思</a>
                    </li>

                    <li>
                        <a href="/blog/show-6" title="明月几时有">明月几时有</a>
                    </li>

                    <li>
                        <a href="/blog/show-10" title="悯农">悯农</a>
                    </li>

                    <li>
                        <a href="/blog/show-2" title="百家姓">百家姓</a>
                    </li>

                    <li>
                        <a href="/blog/show-11" title="陈情表">陈情表</a>
                    </li>

                    <li>
                        <a href="/blog/show-5" title="七子之歌">七子之歌</a>
                    </li>

                    <li>
                        <a href="/blog/show-7" title="金色花">金色花</a>
                    </li>

                    <li>
                        <a href="/blog/show-28" title="markdown2">markdown2</a>
                    </li>

            </ol>
            <ol class="hot-list">


                    <li>
                        <a href="/blog/show-8" title="望庐山瀑布">望庐山瀑布</a>
                    </li>

                    <li>
                        <a href="/blog/show-1" title="三字经">三字经</a>
                    </li>

                    <li>
                        <a href="/blog/show-4" title="木兰诗">木兰诗</a>
                    </li>

                    <li>
                        <a href="/blog/show-7" title="金色花">金色花</a>
                    </li>

                    <li>
                        <a href="/blog/show-3" title="报菜名">报菜名</a>
                    </li>

                    <li>
                        <a href="/blog/show-6" title="明月几时有">明月几时有</a>
                    </li>

                    <li>
                        <a href="/blog/show-11" title="陈情表">陈情表</a>
                    </li>

                    <li>
                        <a href="/blog/show-2" title="百家姓">百家姓</a>
                    </li>

                    <li>
                        <a href="/blog/show-9" title="秋思">秋思</a>
                    </li>

            </ol>
            <ol class="hot-list">


                    <li>
                        <a href="/blog/show-28" title="markdown2">markdown2</a>
                    </li>

                    <li>
                        <a href="/blog/show-1" title="三字经">三字经</a>
                    </li>

                    <li>
                        <a href="/blog/show-3" title="报菜名">报菜名</a>
                    </li>

                    <li>
                        <a href="/blog/show-29" title="markdown">markdown</a>
                    </li>

                    <li>
                        <a href="/blog/show-2" title="百家姓">百家姓</a>
                    </li>

                    <li>
                        <a href="/blog/show-4" title="木兰诗">木兰诗</a>
                    </li>

                    <li>
                        <a href="/blog/show-5" title="七子之歌">七子之歌</a>
                    </li>

                    <li>
                        <a href="/blog/show-6" title="明月几时有">明月几时有</a>
                    </li>

                    <li>
                        <a href="/blog/show-7" title="金色花">金色花</a>
                    </li>

            </ol>
        </div>

    </aside>
    <aside class="post-right-item suspend post-right-tag">
        <h4>
            <strong>
                <span>🏷️ 所有标签</span>
            </strong>
        </h4>
        <div id="tagscloud">

                <a href="/blog/tag-1" class="tag-color-1" style="left: 116.873px; top: 12.1212px; z-index: 102; opacity: 0.11248; display: none;">入门简介</a>

                <a href="/blog/tag-2" class="tag-color-2" style="left: 126.344px; top: 177.166px; z-index: 137; opacity: 0.910417;">实验案例</a>

                <a href="/blog/tag-3" class="tag-color-3" style="left: 52.1094px; top: 166.295px; z-index: 141; opacity: 1.09713;">理论基础</a>

                <a href="/blog/tag-4" class="tag-color-4" style="left: 33.2445px; top: 43.7537px; z-index: 101; opacity: 0.104391; display: none;">绕口令</a>

                <a href="/blog/tag-5" class="tag-color-5" style="left: 92.6393px; top: 11.5976px; z-index: 101; opacity: 0.105902; display: none;">笑话</a>

                <a href="/blog/tag-6" class="tag-color-6" style="left: 173.1px; top: 31.2672px; z-index: 101; opacity: 0.1017; display: none;">ftp</a>

                <a href="/blog/tag-7" class="tag-color-7" style="left: 191.526px; top: 117.611px; z-index: 107; opacity: 0.1763;">虚拟化</a>

                <a href="/blog/tag-8" class="tag-color-8" style="left: 159.062px; top: 113.138px; z-index: 174; opacity: 4.24972;">监控</a>


                <a href="/blog/tag-1" class="tag-color-1" style="left: 70.7561px; top: 103.036px; z-index: 186; opacity: 6.88815;">入门简介</a>

                <a href="/blog/tag-2" class="tag-color-2" style="left: 15.2274px; top: 86.4673px; z-index: 134; opacity: 0.819997;">实验案例</a>

                <a href="/blog/tag-3" class="tag-color-3" style="left: 24.2353px; top: 47.7349px; z-index: 101; opacity: 0.105394; display: none;">理论基础</a>

                <a href="/blog/tag-4" class="tag-color-4" style="left: 97.6548px; top: 10.1928px; z-index: 101; opacity: 0.104194; display: none;">绕口令</a>

                <a href="/blog/tag-5" class="tag-color-5" style="left: 170.15px; top: 33.5114px; z-index: 101; opacity: 0.106837; display: none;">笑话</a>

                <a href="/blog/tag-6" class="tag-color-6" style="left: 171.689px; top: 41.7137px; z-index: 139; opacity: 1.00837;">ftp</a>

                <a href="/blog/tag-7" class="tag-color-7" style="left: 87.9995px; top: 32.2925px; z-index: 158; opacity: 2.1781;">虚拟化</a>

                <a href="/blog/tag-8" class="tag-color-8" style="left: 84.0418px; top: 13.6867px; z-index: 102; opacity: 0.111936; display: none;">监控</a>

        </div>
    </aside>
    <aside class="post-right-item suspend">
        <h4>
            <strong>
                <span>👦 关于博主</span>
            </strong>
        </h4>
        <div class="about-me">
            <div>
                <i class="fas fa-user-cog"></i>
                <span>运维工程师</span>
            </div>
            <div>
                <i class="fas fa-user-friends"></i>
                <span>世纪佳缘网</span>
            </div>
            <div>
                <i class="fas fa-location-arrow"></i>
                <span>北京</span>
            </div>
            <div>
                <i class="fas fa-envelope"></i>
                <span>cuiliang0302@qq.com</span>
            </div>
            <div class="about-logo">
                <span>
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-login-qq"></i>
                        <div id="qq">
                            <img src="/static/images/qq.png">
                        </div>
                    </a>
                </span>
                <span>
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-login-wechat"></i>
                        <div id="weixin">
                            <img src="/static/images/weixin.png">
                        </div>
                    </a>
                </span>
                <span>
                    <a href="https://blog.csdn.net/qq_33816243"><img src="/static/images/csdn.png"></a>
                </span>
                <span>
                    <a href="https://github.com/cuiliang0302"><i class="fab fa-github"></i></a>
                </span>
            </div>
        </div>
    </aside>
    <aside class="post-right-item suspend">
        <h4>
            <strong>
                <span>📊 网站信息</span>
            </strong>
        </h4>
        <div class="about-me">
            <div>
                <i class="fas fa-business-time"></i>
                <span>运行时间：123天</span>
            </div>
            <div>
                <i class="fas fa-book-reader"></i>
                <span>PV：2341次</span>
            </div>
            <div>
                <i class="fas fa-user-plus"></i>
                <span>UV：1234人</span>
            </div>
            <div>
                <i class="fas fa-book"></i>
                <span>文章数：121篇</span>
            </div>
            <div>
                <i class="fas fa-columns"></i>
                <span>栏目数：18个</span>
            </div>
            <div>
                <i class="fas fa-paperclip"></i>
                <span>标签数：34个</span>
            </div>
        </div>
    </aside>
</div>
<script>
    /*标签云*/
    var radius = 90;
    var d = 200;
    var dtr = Math.PI / 180;
    var mcList = [];
    var lasta = 1;
    var lastb = 1;
    var distr = true;
    var tspeed = 11;
    var size = 200;
    var mouseX = 0;
    var mouseY = 10;
    var howElliptical = 1;
    var aA = null;
    var oDiv = null;
    window.onload = function () {
        var i = 0;
        var oTag = null;
        oDiv = document.getElementById('tagscloud');
        aA = oDiv.getElementsByTagName('a');
        for (i = 0; i < aA.length; i++) {
            oTag = {};
            aA[i].onmouseover = (function (obj) {
                return function () {
                    obj.on = true;
                    this.style.zIndex = 9999;
                    this.style.color = '#fff';
                    this.style.padding = '5px 5px';
                    this.style.filter = "alpha(opacity=100)";
                    this.style.opacity = 1;
                }
            })(oTag)
            aA[i].onmouseout = (function (obj) {
                return function () {
                    obj.on = false;
                    this.style.zIndex = obj.zIndex;
                    this.style.color = '#fff';
                    this.style.padding = '5px';
                    this.style.filter = "alpha(opacity=" + 100 * obj.alpha + ")";
                    this.style.opacity = obj.alpha;
                    this.style.zIndex = obj.zIndex;
                }
            })(oTag)
            oTag.offsetWidth = aA[i].offsetWidth;
            oTag.offsetHeight = aA[i].offsetHeight;
            mcList.push(oTag);
        }
        sineCosine(0, 0, 0);
        positionAll();
        (function () {
            update();
            setTimeout(arguments.callee, 40);
        })();
    };

    function update() {
        var a, b, c = 0;
        a = (Math.min(Math.max(-mouseY, -size), size) / radius) * tspeed;
        b = (-Math.min(Math.max(-mouseX, -size), size) / radius) * tspeed;
        lasta = a;
        lastb = b;
        if (Math.abs(a) <= 0.01 && Math.abs(b) <= 0.01) {
            return;
        }
        sineCosine(a, b, c);
        for (var i = 0; i < mcList.length; i++) {
            if (mcList[i].on) {
                continue;
            }
            var rx1 = mcList[i].cx;
            var ry1 = mcList[i].cy * ca + mcList[i].cz * (-sa);
            var rz1 = mcList[i].cy * sa + mcList[i].cz * ca;

            var rx2 = rx1 * cb + rz1 * sb;
            var ry2 = ry1;
            var rz2 = rx1 * (-sb) + rz1 * cb;

            var rx3 = rx2 * cc + ry2 * (-sc);
            var ry3 = rx2 * sc + ry2 * cc;
            var rz3 = rz2;

            mcList[i].cx = rx3;
            mcList[i].cy = ry3;
            mcList[i].cz = rz3;

            per = d / (d + rz3);

            mcList[i].x = (howElliptical * rx3 * per) - (howElliptical * 2);
            mcList[i].y = ry3 * per;
            mcList[i].scale = per;
            var alpha = per;
            alpha = (alpha - 0.6) * (10 / 6);
            mcList[i].alpha = alpha * alpha * alpha - 0.2;
            mcList[i].zIndex = Math.ceil(100 - Math.floor(mcList[i].cz));
        }
        doPosition();
    }

    function positionAll() {
        var phi = 0;
        var theta = 0;
        var max = mcList.length;
        for (var i = 0; i < max; i++) {
            if (distr) {
                phi = Math.acos(-1 + (2 * (i + 1) - 1) / max);
                theta = Math.sqrt(max * Math.PI) * phi;
            } else {
                phi = Math.random() * (Math.PI);
                theta = Math.random() * (2 * Math.PI);
            }
            //坐标变换
            mcList[i].cx = radius * Math.cos(theta) * Math.sin(phi);
            mcList[i].cy = radius * Math.sin(theta) * Math.sin(phi);
            mcList[i].cz = radius * Math.cos(phi);

            aA[i].style.left = mcList[i].cx + oDiv.offsetWidth / 2 - mcList[i].offsetWidth / 2 + 'px';
            aA[i].style.top = mcList[i].cy + oDiv.offsetHeight / 2 - mcList[i].offsetHeight / 2 + 'px';
        }
    }

    function doPosition() {
        var l = oDiv.offsetWidth / 2;
        var t = oDiv.offsetHeight / 2;
        for (var i = 0; i < mcList.length; i++) {
            if (mcList[i].on) {
                continue;
            }
            var aAs = aA[i].style;
            if (mcList[i].alpha > 0.1) {
                if (aAs.display != '')
                    aAs.display = '';
            } else {
                if (aAs.display != 'none')
                    aAs.display = 'none';
                continue;
            }
            aAs.left = mcList[i].cx + l - mcList[i].offsetWidth / 2 + 'px';
            aAs.top = mcList[i].cy + t - mcList[i].offsetHeight / 2 + 'px';
            //aAs.fontSize=Math.ceil(12*mcList[i].scale/2)+8+'px';
            //aAs.filter="progid:DXImageTransform.Microsoft.Alpha(opacity="+100*mcList[i].alpha+")";
            aAs.filter = "alpha(opacity=" + 100 * mcList[i].alpha + ")";
            aAs.zIndex = mcList[i].zIndex;
            aAs.opacity = mcList[i].alpha;
        }
    }

    function sineCosine(a, b, c) {
        sa = Math.sin(a * dtr);
        ca = Math.cos(a * dtr);
        sb = Math.sin(b * dtr);
        cb = Math.cos(b * dtr);
        sc = Math.sin(c * dtr);
        cc = Math.cos(c * dtr);
    }
    // 最多阅读 评论 评分切换
    $(function () {
        // 标题菜单下拉展开
        $("#top-list>ul>li").hover(function () {
            $(this).children("ul").stop().slideDown(300);
            $(this).find("i").attr("class", "fas fa-caret-up");
        }, function () {
            $(this).children("ul").stop().slideUp(300);
            $(this).find("i").attr("class", "fas fa-caret-down");
        });
        // 手机版点击下拉展开菜单
        $("#top-list>ul>li").click(function () {
            $(this).children("ul").stop().slideDown(300);
            $(this).find("i").attr("class", "fas fa-caret-up");
        });

        // 点击切换相应列表
        $(".top-list-son li").click(function () {
            var text = $(this).text();
            $(this).siblings().find("a").removeClass("top-title-this")
            $(this).find("a").addClass("top-title-this")
            $(".list-title em").eq(1).html(text);
            $(".top-list-son").hide();
            var index = ($(this).index());
            var $ol = $("#top-list-content ol").eq(index);
            $ol.siblings().removeClass("hot-list-show")
            $ol.addClass("hot-list-show");
        })
    });
    // 关于博主联系方式
    $(function () {
        $("#weixin").parent("a").hover(function () {
            $("#weixin").stop().fadeToggle(500);
        })
        $("#qq").parent("a").hover(function () {
            $("#qq").stop().fadeToggle(500);
        })
    })
    // 推荐阅读当前高亮
    $(function (){
        $(".this-recommend").hover(function () {
            $(this).siblings().stop().fadeTo(100, 0.6);
        }, function (){
            $(this).siblings().stop().fadeTo(100, 1);
        })
    })
</script>
                    <!--            主体右侧部分-->
                </div>
            </div>
        </div>
    </main>
<script src="../static/layui/layui.all.js"></script>
<script type="text/javascript">
    layui.use(['form', 'layedit'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var layedit = layui.layedit;
        // 富文本编辑器
        form.render(); //更新全部
        // 图片接口放到建立编辑器前面，否则无效
        layedit.set({
            uploadImage: {
                url: '{% url "account:commentUpload" %}', //接口url
                type: 'post', //默认post
            }
        });
        // 设置发表留言编辑器
        var reply = layedit.build('reply', {
            height: 150 //设置编辑器高度
            , tool: ['face', 'image', '|', 'link', 'unlink']
        });
        // 建立发表留言编辑器
        form.verify({ // 这里就是把富文本数据同步到<textarea>中
            content: function (value) {
                return layedit.sync(reply);
            }
        });
        $content = layedit.getContent(reply)
        console.log($content)
        $("button").click(function () {
            var $content = layedit.getContent(reply)
            console.log($content)
        })
    })
</script>
$.ajax({
                            type: "GET",
                            url: "{% url 'blog:postMessage' %}",
                            data: {
                                content: layedit.getContent(reply_textarea),
                                username: "{{ user.username }}"
                            },
                            success: function (result) {
                                if (result.code == 1) {
                                    // 文本域内容非空，创建节点
                                    var $record = createEle($content);
                                    $(".layui-tab-item").prepend($record);
                                    var timeago = layui.timeago;
                                    timeago.render($('.timeago'));
                                    layer.msg(result.msg, {icon: 6});
                                    layui.layedit.clearContent(index);
                                } else {
                                    layer.alert(result.msg, {icon: 2});
                                }
                            },
                            error: function (xhr) {
                                alert(xhr.text());
                            }
                        })
</body>
</html>