<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>

<body>
<div style="background-color: #ebedf0">
    <div style="text-align: center">
        <h1>【崔亮的博客】邮件验证码</h1>
    </div>
    <div style="width: 60%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);">
        <p>尊敬的星空的77：</p>
        <p style="text-indent:2em">您本次的验证码为：</p>
        <h1 style="text-align: center;color: red;font-weight: bold">123421</h1>
        <p style="text-indent:2em">此验证码由<a href="https://www.cuiliangblog.cn">崔亮的博客</a>发送，有效期为3分钟！</p>
        <p style="text-indent:2em">您收到这封邮件，是由于在
            <a href="https://www.cuiliangblog.cn">崔亮的博客</a>
            进行了新用户注册，或进行重置密码操作。如果您并没有访问过崔亮的博客，或没有进行上述操作， 请忽略这封邮件！
        </p>
        <br>
        <p style="text-indent:2em">感谢您的访问，祝您使用愉快！</p>
    </div>
</div>
</body>

</html>